<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Streamit</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Streamit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.228110272023-d4cmai99ein70d8ttl50ppvbmfgbjl25</string>
			</array>
			<key>CFBundleURLName</key>
			<string>Google Sign-In / Firebase Auth</string>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GIDClientID</key>
	<string>228110272023-d4cmai99ein70d8ttl50ppvbmfgbjl25.apps.googleusercontent.com</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1073907455931977~7164377673</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Streamit uses your location to show relevant shop and content for your region and to enable location-based features.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Streamit uses your location to show relevant shop and content for your region and to enable location-based features.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Streamit app requires access to microphone for screen cast</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Streamit app requires access to the photo library to upload user profile picture</string>
	<key>NSCameraUsageDescription</key>
	<string>Streamit uses camera to scan cards and capture photos</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Streamit needs this to search items in app</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
		<string>_CC1AD845._tcp</string>
	</array>
</dict>
</plist>
